{% block footer %}
    <footer class="footer">
        <div class="text-right p-3">
            <span class="text-muted small"><i class="bi-github"></i> <a href="https://github.com/nplhse/cois">cois</a> v0.1.4-alpha</span>
        </div>
    </footer>
{% endblock %}
