{% block footer %}
    <footer class="footer">
        <div class="container text-right">
            <span class="text-muted small"><i class="fab fa-github"></i> <a href="https://github.com/nplhse/cois">cois</a> v0.0.1-preAlpha</span>
        </div>
    </footer>
{% endblock %}
