parameters:
    level: 6
    paths:
    	- src
    	- tests
    bootstrapFiles:
        - tests/bootstrap.php
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php
    excludes_analyse:
        - %currentWorkingDirectory%/migrations/*
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
