includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: 6
    paths:
    	- src
    	- tests
    excludePaths:
        - assets
        - build
        - node_modules
        - src/App/Domain/Repository/EntityRepositoryInterface.php
        - src/App/Twig/Components/PaginationComponent.php
        - vendor
        - templates
    bootstrapFiles:
        - tests/App/bootstrap.php
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
    	- '#Match expression does not handle remaining value: string#'
