{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.features'|trans }} - {{ parent() }}
{% endblock %}

{% block main %}
    <main class="flex-shrink-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% block breadcrumbs %}
                        {{
                            component(
                                'breadcrumb',
                                {
                                    items: [
                                        {
                                            label: 'link.features'|trans
                                        }
                                    ]
                                }
                            )
                        }}
                    {% endblock %}
                </div>
            </div>

            <div class="row">
                <h1 class="mb-3">
                    Features
                </h1>
            </div>
        </div>

        <section class="py-5 border-bottom" id="features">
            <a id="hospitals"></a>
            <div class="container">
                <h2 class="display-3">
                    Hospitals
                </h2>

                <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5">
                    <div class="d-flex flex-column align-items-start gap-2">
                        <h3 class="fw-bold">
                            Left-aligned title explaining these awesome features
                        </h3>
                        <p class="text-muted">
                            Paragraph of text beneath the heading to explain the
                            heading. We'll add onto it with another sentence and
                            probably just keep going until we run out of words.
                        </p>
                    </div>
                    <div class="row row-cols-1 row-cols-sm-2 g-4">
                        <div class="d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#collection"></use>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0">
                                Featured title
                            </h4>
                            <p class="text-muted">
                                Paragraph of text beneath the heading to explain
                                the heading.
                            </p>
                        </div>

                        <div class="d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#gear-fill"></use>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0">
                                Featured title
                            </h4>
                            <p class="text-muted">
                                Paragraph of text beneath the heading to explain
                                the heading.
                            </p>
                        </div>

                        <div class="d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#speedometer"></use>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0">
                                Featured title
                            </h4>
                            <p class="text-muted">
                                Paragraph of text beneath the heading to explain
                                the heading.
                            </p>
                        </div>

                        <div class="d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#table"></use>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0">
                                Featured title
                            </h4>
                            <p class="text-muted">
                                Paragraph of text beneath the heading to explain
                                the heading.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light py-3">
            <a id="explore"></a>
            <div class="container">
                <h2 class="display-3">
                    Explore
                </h2>

                <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5">
                    <div class="d-flex flex-column align-items-start gap-2">
                        <h3 class="fw-bold">
                            Left-aligned title explaining these awesome features
                        </h3>
                        <p class="text-muted">
                            Paragraph of text beneath the heading to explain the
                            heading. We'll add onto it with another sentence and
                            probably just keep going until we run out of words.
                        </p>
                    </div>
                    <div class="row row-cols-1 row-cols-sm-2 g-4">
                        <div class="d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#collection"></use>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0">
                                Featured title
                            </h4>
                            <p class="text-muted">
                                Paragraph of text beneath the heading to explain
                                the heading.
                            </p>
                        </div>

                        <div class="d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#gear-fill"></use>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0">
                                Featured title
                            </h4>
                            <p class="text-muted">
                                Paragraph of text beneath the heading to explain
                                the heading.
                            </p>
                        </div>

                        <div class="d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#speedometer"></use>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0">
                                Featured title
                            </h4>
                            <p class="text-muted">
                                Paragraph of text beneath the heading to explain
                                the heading.
                            </p>
                        </div>

                        <div class="d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#table"></use>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0">
                                Featured title
                            </h4>
                            <p class="text-muted">
                                Paragraph of text beneath the heading to explain
                                the heading.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-3 border-top">
            <a id="statistics"></a>
            <div class="container">
                <h2 class="display-3">
                    Statistics
                </h2>

                <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 mb-5">
                    <div class="d-flex flex-column align-items-start gap-2">
                        <h3 class="fw-bold">
                            Left-aligned title explaining these awesome features
                        </h3>
                        <p class="text-muted">
                            Paragraph of text beneath the heading to explain the
                            heading. We'll add onto it with another sentence and
                            probably just keep going until we run out of words.
                        </p>
                    </div>
                    <div class="row row-cols-1 row-cols-sm-2 g-4">
                        <div class="d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#collection"></use>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0">
                                Featured title
                            </h4>
                            <p class="text-muted">
                                Paragraph of text beneath the heading to explain
                                the heading.
                            </p>
                        </div>

                        <div class="d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#gear-fill"></use>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0">
                                Featured title
                            </h4>
                            <p class="text-muted">
                                Paragraph of text beneath the heading to explain
                                the heading.
                            </p>
                        </div>

                        <div class="d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#speedometer"></use>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0">
                                Featured title
                            </h4>
                            <p class="text-muted">
                                Paragraph of text beneath the heading to explain
                                the heading.
                            </p>
                        </div>

                        <div class="d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#table"></use>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0">
                                Featured title
                            </h4>
                            <p class="text-muted">
                                Paragraph of text beneath the heading to explain
                                the heading.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
