<h1>Verify your E-Mail address</h1>

<p>
    Your E-Mail address for COIS - Collaborative IVENA statistics has been changed.
</p>

<p>
    Please confirm your new email address by clicking the following link:
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.<br />
    Note that this link expires in {{ expiration|date('g') }} hour.
</p>

<p>
    Thank you!
</p>
