<h1>
    Welcome to COIS - Collaborative IVENA statistics.
</h1>

<p>
    An account has been created for you with the username: <strong>
        {{ user.username }}
    </strong>.<br />
    Your initial password should have already been submitted to you by the administrator,
    you will have to change it immediately after your first login.
</p>

<p>
    Click on the following link to login for the first time: <a href="{{
        link
        }}">
        Go to login
    </a>.<br />
</p>

<p>
    We're looking forward to having you participate!
</p>
