<div {{
    stimulus_controller(
        'modal',
        {
            formUrl: path(
                'app_import_delete_form',
                {
                    id: import.id
                }
            ),
            targetUrl: path('app_import_index')
        }
    )
    }}>
    <button class="btn btn-danger" data-action="modal#openModal">
        <i class="bi bi-trash-fill"></i> {{ 'Delete'|trans({}, 'forms') }}
    </button>

    {{
        include(
            'elements/modal.html.twig',
            {
                modalTitle: 'Delete Import?'|trans({}, 'forms'),
                modalSubmit: 'Delete Import'|trans({}, 'forms')
            }
        )
    }}
</div>
