<form method="post"
    action="{{
    path(
        'app_import_delete',
        {
            id: import.id
        }
    )
    }}">
    <div class="text-center">
        <i class="bi bi-trash fs-4"></i>
        <p>
            {{ 'Are you sure about deleting this Import?'|trans({}, 'forms') }}
        </p>
    </div>
    <input type="hidden"
        name="_token"
        value="{{ csrf_token('delete' ~ import.id) }}" />
    <button type="submit" class="btn btn-danger">
        <i class="bi bi-trash-fill"></i> {{ 'Delete'|trans({}, 'forms') }}
    </button>
</form>
