<form method="post"
    action="{{
    path(
        'app_import_delete',
        {
            id: import.id
        }
    )
    }}">
    <input type="hidden"
        name="_token"
        value="{{ csrf_token('delete' ~ import.id) }}" />
    <button type="submit" class="btn btn-danger">
        <i class="bi bi-trash-fill"></i> {{ 'Delete'|trans({}, 'forms') }}
    </button>
</form>
