{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Welcome to the collaborative IVENA statistics backend' %}

{% block page_content %}
    <style>
        p { max-width: 600px; }
    </style>

    <div class="card mb-3">
        <div class="card-header">
            Statistics
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>There are currently <strong>{{ allocations }}</strong> Allocations, from <strong>{{ hospitals }}</strong> hospitals.</p>
            </blockquote>
        </div>
    </div>
{% endblock %}
