<form method="post"
    action="{{
    path(
        'app_settings_import_delete',
        {
            id: import.id
        }
    )
    }}"
    onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden"
        name="_token"
        value="{{ csrf_token('delete' ~ import.id) }}" />
    <button class="btn btn-danger">{{ 'Delete'|trans({}, 'forms') }}</button>
</form>
