{% extends 'base.html.twig' %}

{% block title %}
    Hello StateController!
{% endblock %}

{% block body %}
    <ul>
        {% for state in states %}
            <li>
                {{ state.name }} (<a href="{{
                    path(
                        'state_edit',
                        {
                            id: state.id
                        }
                    )
                    }}">
                    edit
                </a>, <a href="{{
                    path(
                        'state_delete',
                        {
                            id: state.id
                        }
                    )
                    }}">
                    X
                </a>)
            </li>
        {% else %}
            <li><em>No states found</em></li>
        {% endfor %}
    </ul>

    {{ form(form) }}
{% endblock %}
