{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    {{
        'notification.import.failed'|trans(
            {
                '%importName%': importName,
                '%importUser%': importUser,
                '%importHospital%': importHospital
            },
            'emails'
        )
    }}

    {% if exception is defined %}
        <p>
            {{ exception.message }}
        </p>
    {% endif %}
{% endblock %}
