body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    font-family: Helvetica, Arial, sans-serif;
}
.bottom {
    background-color: #efefee;
}
.text-center {
    text-align: center;
}
table.button a {
    background-color: #264459;
}
table.button table td {
    background-color: #264459;
    border: 2px solid #264459;
}
