<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Collaborative IVENA statistics{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        {% block header %}
            {% include('_elements/navbar.html.twig') %}
        {% endblock %}

        <main role="main" class="container content pb-2">
            {% block body %}{% endblock %}
        </main>

        {% include('_elements/footer.html.twig') %}
    </body>
</html>
