<div {{ attributes }}>
    <h4 class="fst-italic">
        Tags
    </h4>
    <ol class="list-unstyled mb-0">
        {% for tag in this.tags %}
            <!-- prettier-ignore-start -->
            <a href="{{ path('app_blog_tag', {tag: tag}) }}">{{ tag.name }}</a>,
            <!-- prettier-ignore-end -->
        {% else %}
            Sorry, there are no tags.
        {% endfor %}
    </ol>
</div>
